body {
    background: rgb(60,179,113);
  }
  
  .grid {
    width: 500px;
    height: 300px;
    border: 5px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    width: 10px;
    height: 10px;
    /*border:1px black solid;
  box-sizing:border-box*/
  }
  
  .snake {
    background: aqua;
    border-radius: 2px;
  }
  
  .apple {
    background: darkmagenta;
    border-radius: 20px;
  }
  
  .popup {
    background: rgb(32, 31, 31);
    width: 150px;
    height: 150px;
    position: fixed;
    top: 150px;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }